@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b1a;
  color: #fff;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
}

.arena {
  width: 90%;
  max-width: 1100px;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #e8f3ff;
  text-shadow: 0 0 12px #56ccf2;
}

.subtitle {
  color: #a4b1cc;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 25px;
}

.board {
  background: rgba(20, 25, 45, 0.9);
  border: 2px solid #5b7cb3;
  border-radius: 10px;
  width: 100%;
  padding: 25px 35px 30px 35px;
  box-shadow: 0 0 30px rgba(86, 203, 242, 0.56);
}

.board-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.header-item {
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.answers-header {
  text-align: left;
   position: relative;
   left: 30px;
  font-size: 2rem;
}

.points-header {
  text-align: right;
  position: relative;
  right: 60px;
 font-size: 2rem;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.cell {
  border: 1px dashed #577299;
  border-radius: 6px;
  background: rgba(30, 40, 60, 0.65);
  height: 100%;
}

.answer {
  width: 80%;
}

.points {
  width: 18%;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.total-label {
  font-weight: 700;
  font-size: 2rem;
}

.total-box {
  width: 18%;
  height: 55px;
  border: 1px dashed #577299;
  border-radius: 6px;
  background: rgba(30, 40, 60, 0.65);
}
