
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #0b0b26;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}


.countdown-container {
  position: relative;
}

.outer-ring {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: conic-gradient(#2e82ff 0deg, #1b1b3a 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s linear;
}


.inner-ring {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #0d1333;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 20px #000;
}


#time {
  font-size: 80px;
  font-weight: 700;
  color: white;
}
