
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}


.background-image {
  background-image: url('Images/Splash.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 115vh; 
  width: 100%;
}
