* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; 
}

.full-image {
position: relative;
top: 25px;
  width: 100%;
  height: 115%;        
  object-fit: cover;     
  border-radius: 12px;   
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
